@{
    ViewData["Title"] = "Admin";
}

<section>
    <h1 class="mb-3">ADMIN MENU</h1>

    <div class="card mb-4 card-shadow">
        <h4 class="card-header">All reservations</h4>
        <div class="card-body">
            <p class="card-text">View, change and handle all reservations</p>
            <a asp-controller="Admin" asp-action="allReservations" class="btn btn-primary">View all reservations</a>
        </div>
    </div>
    <div class="card mb-4 card-shadow">
        <h4 class="card-header">Specific reservation</h4>
        <div class="card-body">
            <p class="card-text">View, change and handle a specific reservation</p>
            
            <form asp-controller="Admin" asp-action="getReservation" method="get">
                @*<label for="getReservationId">Reservation ID:</label>*@
                <input class="form-control mb-2" type="number" id="getReservationId" name="reservationId" placeholder="Enter Reservation ID" required>
                <button type="submit" class="btn btn-primary">View reservation</button>
            </form>

        </div>
    </div>
    <div class="card mb-4 card-shadow">
        <h4 class="card-header">Menu</h4>
        <div class="card-body">
            <p class="card-text">View, change, update and handle the menu</p>
            <a asp-controller="Admin" asp-action="EditMenu" class="btn btn-primary">View menu</a>
        </div>
    </div>
</section>