<main>
    <form>
        <div class="mb-3">
            <label for="AdminInputName" class="form-label">Username</label>
            <input type="text" class="form-control" id="AdminInputName">
        </div>
        <div class="mb-3">
            <label for="AdminInputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="AdminInputPassword">
        </div>
        <a asp-controller="Admin" asp-action="Index" type="submit" class="btn btn-primary">Login</a>
    </form>
</main>