@model List<Dish>

@{
    ViewData["Title"] = "Menu";
}

<main class="container my-5">
    <h1 class="mb-4 text-center">Our Menu</h1>

    <div class="row">
        @foreach (var dish in Model)
        {
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">@dish.Name</h3>
                        <p class="card-text">@dish.Description</p>
                        <p class="card-text"><strong>Price: </strong>$@dish.Price</p>

                        @*<div class="card-img">
                            <img src="path_to_image" alt="Image of @dish.Name" class="img-fluid">
                        </div>*@    
                    </div>
                </div>
            </div>
        }
    </div>
</main>
