@model List<Dish>

@{
    ViewData["Title"] = "Menu";
    ViewData["Description"] = "Discover our unique, tech-inspired dishes at Snack Overflow. From Full Stack Fajitas to Binary Brownie Bytes, browse our full menu here!";
}

@{
    // Group the meals together by meal type - to be able to display them together and in the correct order 
    // first appetizers, then main course, and lastly desserts
    var groupedMealTypes = Model.GroupBy(d => d.MealType)
            .OrderBy(group => 
                group.Key == "Appetizer" ? 1 
                : group.Key == "Main" ? 2 
                : 3);
}

<link rel="preload" href="~/css/menu.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<link rel="preload" href="~/lib/bootstrap/dist/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"></noscript>
<script src="~/lib/jquery/dist/jquery.min.js" defer></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
<script src="~/js/site.js" defer></script>


<section class="container py-5">
    <h1 class="mb-5 text-center text-white">The Menu</h1>

    @* Group by meal type*@
    @foreach (var mealType in groupedMealTypes)
    {
        <div class="row mb-5 justify-content-center">

            @* Display meal type category (Appetizer / Main course / Dessert)*@
            <h2 class="mb-2 text-center text-light">@mealType.Key</h2>
            
            <div class="row d-flex">
            @foreach (var dish in mealType)
            {
                string dishImgPath = $"{dish.Name}.webp";

                // Qucik fix to be able to display Spaghetti C#rbonara (couldn't read '#' in img path)
                if (dishImgPath.Contains("#"))
                    dishImgPath = dishImgPath.Replace("#", "a");

                <div class="col-md-6 col-lg-4 mb-4">
                    <article class="card h-100 menu-item border-smooth">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div class="card-img mb-3">
                                <img src="/Images/@dishImgPath" alt="Image of @dish.Name" class="img-fluid border-smooth">
                            </div>
                            <h3 class="card-title">@dish.Name</h3>

                            <p class="card-text">@dish.Description</p>
                            <p class="card-text"><strong>Price: </strong>$@dish.Price.ToString("0.00")</p>
                        </div>
                    </article>
                </div>
            }
            </div>
        </div>
    }
    
</section>