@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Welcome to Snack Overflow, the perfect blend of coding and culinary creativity! Explore our tech-themed menu and reserve your table online today.";

}
<link rel="stylesheet" href="~/css/home.css" onload="this.media='all'"/>


@* Image over restaurant along with name and tagline *@
<section class="home-header-container mb-5 position-relative">
    <img src="./Images/restaurant.webp" id="home-header-img" class="img-fluid w-100" alt="the restaurant" />
   
    <div class="home-header-text position-absolute top-50 start-50 translate-middle text-center text-white">
        <h1 id="home-header-h1" style="font-family: Pacifico, cursive, sans-serif;font-weight:400;color:white;">Snack Overflow</h1>
    </div>
</section>

<section class="container">
    @* Popular dishes section *@
    <section class="text-center">
        <h2 class="mb-4">Chef's selection</h2>
        <div class="row">

            @* Dish 1 *@
            <article class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 menu-item border-smooth">
                    <img src="./Images/Fork() Filet.webp" class="card-img-top border-smooth-top" alt="Fork Filet" loading="lazy" />
                    <div class="card-body">
                        <h3>Fork() Filet</h3>
                        <p>Grilled filet mignon served with garlic mashed potatoes and steamed vegetables.</p>
                    </div>
                </div>
            </article>

            @* Dish 2 *@
            <article class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 menu-item border-smooth">
                    <img src="./Images/Grilled Query Salmon.webp" class="card-img-top border-smooth-top" alt="Grilled Query Salmon" loading="lazy" />
                    <div class="card-body">
                        <h3>Grilled Query Salmon</h3>
                        <p>Grilled salmon filet with a honey mustard glaze, served with quinoa and steamed broccoli.</p>
                    </div>
                </div>
            </article>

            @* Dish 3 *@
            <article class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 menu-item border-smooth">
                    <img src="./Images/Full Stack Fajitas.webp" class="card-img-top border-smooth-top" alt="Full Stack Fajitas" loading="lazy" />
                    <div class="card-body">
                        <h3>Full Stack Fajitas</h3>
                        <p>Grilled beef or chicken with sautéed peppers and onions, served with flour tortillas, guacamole, sour cream, and salsa.</p>
                    </div>
                </div>
            </article>

            @* Dish 4 *@
            <article class="col-md-6 col-lg-4 mb-4 offset-lg-2">
                <div class="card h-100 menu-item border-smooth">
                    <img src="./Images/Toast Skagen Stack.webp" class="card-img-top border-smooth-top" alt="Toast Skagen Stack" loading="lazy" />
                    <div class="card-body">
                        <h4>Toast Skagen Stack</h4>
                        <p>A Swedish classic with prawns, mayonnaise, dill, and a hint of lemon, served on toasted bread, topped with fish roe.</p>
                    </div>
                </div>
            </article>

            @* Dish 5*@
            <article class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 menu-item border-smooth">
                    <img src="./Images/Binary Brownie Bytes.webp" class="menu-item-highlight card-img-top border-smooth-top" alt="Binary Brownie Bytes" loading="lazy" />
                    <div class="card-body">
                        <h3>Binary Brownie Bytes</h3>
                        <p>Rich chocolate brownies served in bite-sized portions, with a side of whipped cream and raspberry coulis.</p>
                    </div>
                </div>
            </article>
        </div>
    </section>


    @* History section *@
    <section class="history-section my-5">
        <h2 class="text-center mb-4">Our History</h2>
        <article class="row align-items-center history-custom-responsive">
            <div class="col-md-6">
                <img src="./Images/history.webp" class="img-fluid mb-4 mb-md-0 border-smooth" alt="The two owners standing in the restaurant" loading="lazy" />
            </div>
            <div class="col-md-6 text-md-center">
                <p class="history-text">
                    Born from a love of code and a passion for culinary creativity, Snack Overflow is the brainchild of two software engineers turned food enthusiasts. After countless late-night coding sessions fueled by instant noodles, energy drinks, and the occasional pizza, they realized that the tech world needed a better dining experience. But this wouldn’t just be any restaurant—it would be the perfect fusion of their two great loves: food and technology.
                </p>
                <p class="history-text">
                    In 2023, Snack Overflow opened its doors to hungry coders, tech lovers, and foodies alike. The name, a playful nod to the infamous "stack overflow" error, reflects our belief that good food, like good code, should be innovative, satisfying, and occasionally a little cheeky.
                </p>
                <p class="history-text">
                    At Snack Overflow, the menu is just as quirky and exciting as the name suggests. From our "404: Fries Not Found" to the crowd-favorite "Byte-sized Bites," every dish is designed with a dash of creativity and a whole lot of flavor.
                </p>
            </div>
        </article>
    </section>
</section>