/*Popular dishes section*/
.menu-item {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Subtle shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.menu-item:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.18);
}

/*.menu-item img {
    max-width: 410px;
    max-height: 410px;
    min-width: 320px;
    min-height: 320px;
}*/

.card-img-top {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3; 
    object-fit: cover;
}


/* responsitivity for history section*/
.history-section .history-text {
    font-size: 1rem; /* Default size */
}


/* Medium screens */

@media (min-width: 768px) {
    /* Enlargen text  */
    .history-section .history-text {
        font-size: 1.1rem; 
    }
}

/* Large screens */
@media (min-width: 992px) {
    .history-section .history-text {
        /* Center text and enlargen text  */
        font-size: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .history-custom-responsive{
        display: flex;
        flex-direction:column;
    }
    .history-custom-responsive div {
        width: 80vw;
        margin-bottom: 2rem;
    }
}


@media (max-width: 1400px) {
    #home-header-h1 {
        font-size: 10vw;
        width: 90%;
    }

    .home-header-container {
         height: auto;
    }

    #home-header-img {
        height: 1000px;
    }
}